.base-content{margin: 10px;}
.list-portofolio > ul {padding-bottom: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: left; -ms-flex-pack: left; justify-content: left; }
.box-list-porto > li {width: calc(100% - 10px); float: left; margin: 5px; flex-basis: calc(100% - 10px); padding-bottom: 10px; }
.desc-portofolio h4 {font-size: 14px; font-weight: normal; margin-bottom: 10px; }
.desc-portofolio h2 {font-weight: bold; font-size: 32px; line-height: 48px; margin-bottom: 7px; }
.box-list-porto > div > li{margin: 10px 0;}
.info > span {width: 100%; padding-left: 10px; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }
.download-pdf > a {display: block; margin: 0 50px; }
.download-pdf {position: fixed; z-index: 99; bottom: 10px; width: 100%; left: 0; margin: 0 auto; right: 0; }
.image-portofolio ul > li {width: calc(100% - 20px); float: left; margin: 20px 10px 0px; }