.sosmed-list > .icon-name > span > a:hover{color: #37e391;}
a:hover{color: #37e391;}
.desc-portofolio a:hover,.image-portofolio ul > li .btn-visit:hover{color: #fff; background-color: #37e391;} 
.download-pdf > a:hover {background: #37e391; color: #fff; }
.box-list-porto > li {width: calc(50% - 10px); float: left; margin: 5px; flex-basis: calc(50% - 10px); padding-bottom: 5px; }
.box-list-porto {display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: left; -ms-flex-pack: left; justify-content: left; }
/*.box-list-porto > li:last-child {width: calc(100% - 10px); flex-basis: calc(100% - 10px); }*/

.list-portofolio > ul,.list-portofolio > ul > li{padding:10px;}
.list-portofolio > ul{padding-bottom: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: left; -ms-flex-pack: left; justify-content: left;}
.list-portofolio > ul:nth-child(odd) > .image-portofolio{order: 2;} 
.list-portofolio > ul > li{float:left;width: 50%; flex-basis: 50%;padding: 10px;}

.list-portofolio > ul > .desc-portofolio{display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-content: center; align-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center;}
.desc-portofolio h2{font-weight:bold;font-size: 40px; line-height: 48px; margin-bottom: 7px;}
.desc-portofolio h4{font-size: 20px;font-weight: normal; margin-bottom: 10px;line-height: 30px;}
.end-skill {padding-bottom: 20px; }
.image-portofolio ul > li {width: calc(33.33% - 20px); float: left; margin: 20px 10px 0px; }
.footer-all{z-index: 4;}